div{
    font-size: 30px;
     font-style:italic ;
     background-color: tomato;
     color: darkblue;
}
.perberesit{
    background-color: brown;
    color: white;
}
span{
    background-color: yellow;
}
